.dark {
    background-color: #263238;
    color: #fff;
}

.dark .card{
    background-color: #37474f;
}

.card{
    border-radius: 10px;
}

.fa-moon {
    color: #25587C;
    cursor: pointer;
}

.fa-sun {
    color: #f9d71c;
    cursor: pointer;
}

#icons{
    font-size: 30px;
}
