.dark {
    background-color: #263238;
    color: #fff;
}

.card{
    border-radius: 10px;
}

.fa-moon {
    color: #25587C;
    cursor: pointer;
}

.fa-sun {
    color: #f9d71c;
    cursor: pointer;
}

#icons{
    font-size: 20px;
    margin-right: -60px;
}
